<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>CHack</title>
	<link rel=StyleSheet href="/static/styles.css" type="text/css">

	<script src="/static/jquery-1.7.1.min.js" > </script>
	<script src="/static/jquery.masonry.js" > </script>


</head>
<body>

	<div id="welcome">
		<div id="image">
			<img src="../static/maximus.png">
		</div>

	</div>	


	<div id="sticky">
		<div id="dropdown-holder">
			<span> Day of the Week: </span>
			<select id="dropdown1">
			  <option value="choose">All</option>
			  <option value="M">Monday</option>
			  <option value="T">Tuesday</option>
			  <option value="W">Wednesday</option>
			  <option value="R">Thursday</option>
			  <option value="F">Friday</option>
			</select>
			<!--
			<select id="time">
			  <option value="volvo">Volvo</option>
			  <option value="saab">Saab</option>
			  <option value="opel">Opel</option>
			  <option value="audi">Audi</option>
			</select>
			-->
			<span> Department: </span>
			<select id="dropdown2">
			  <option value="choose">All</option>
			  <option value="CS">Computer Science</option>
			  <option value="Biology">Biology</option>
			  <option value="Chemistry">Chemistry</option>
			  <option value="Dance">Dance</option>
			  <option value="Economics">Economics</option>
			  <option value="Engineering">Engineering</option>
			  <option value="Math">Math</option>
			</select>
		</div>
		<span id="seans"> Brought to you by Sean and Sean </span>
	</div>

	<div id="content">
		<div id="container">

			{% for course in masterList %}
				<div class="showBlock item {{course.days}} {{course.dept}}">
				<span id="bold"> {{course.course[0]}} </span>
				</br> </br> {{course.startTime }}
				</br> {{ course.endTime }}
				</br> {{ course.days }}
				</br><p align="right"><i> {{ course.prof }} </i></p>
			</div>
			{% endfor %}

		</div>
	</div>

<script>
$(function(){
  $('#container').masonry({
    // options
    itemSelector : '.showBlock',
    isFitWidth: true,
    columnWidth : 240
  });
});

var all = $('.item');
$(function() {
 
    // grab the initial top offset of the navigation 
    var sticky_offset_top = $('#sticky').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky = function() {
        var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scroll_top > sticky_offset_top) { 
            $('#sticky').css({ 'position': 'fixed', 'top':0, 'left':0 });
        } else {
            $('#sticky').css({ 'position': 'relative' }); 
        }   
    };
     
    // run our function on load
    sticky();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky();
    });
 
});


$('#dropdown1').change(function() {
	var cat1 = $('#dropdown1').find('option:selected').attr('value');
	if (cat1 != 'choose')
	{
		var hidden = $('.item').not(document.getElementsByClassName(cat1));

		var cat2 = $('#dropdown2').find('option:selected').attr('value');
		if (cat2 != 'choose')
		{
			var hidden2 = $('.item').not(document.getElementsByClassName(cat2));
			$.merge(hidden, hidden2);
		}

		// clear all hiding and showing
		all.removeClass("hideBlock");
		all.removeClass("showBlock");

		// set class to hidden to for everything that should be hidden
		hidden.addClass("hideBlock");

		// set class to show for everything that is in all, and is not hidden
		all.not(".hideBlock").addClass("showBlock");

	// var cat = $('#dropdown1').find('option:selected').attr('value');
	// if (cat != 'choose')
	// {
	// 	var hidden = $('.item').not(document.getElementsByClassName(cat));
	// 	$('#container').masonry( 'remove', $('.item'))
	// 	var showMe = $.grep(all, function(el)
 //                    {
 //                        return $.inArray(el, hidden) == -1;
 //                    });
	// 	$('#container').prepend( showMe ).masonry( 'reload' );
	// } else {
	// 	$('#container').masonry( 'remove', $('.item'))
	// 	$('#container').prepend( all ).masonry( 'reload' );
	} else {
		all.removeClass("hideBlock");
		all.addClass('showBlock');
	}
	$('#container').masonry( 'reload' );
});

$('#dropdown2').change(function() {
	var cat2 = $('#dropdown2').find('option:selected').attr('value');
	if (cat2 != 'choose')
	{
		var cat1 = $('#dropdown1').find('option:selected').attr('value');
		var hidden = $('.item').not(document.getElementsByClassName(cat2));
		if (cat1 != 'choose')
		{
			var hidden1 = $('.item').not(document.getElementsByClassName(cat1));
			$.merge(hidden, hidden1);
		}
		//clear all hiding and showing
		all.removeClass("hideBlock");
		all.removeClass("showBlock");

		//set class to hidden to for everything that should be hidden
		hidden.addClass("hideBlock");

		//set class to show for everything that is in all, and is not hidden
		all.not(".hideBlock").addClass("showBlock");

//		$('#container').masonry( 'remove', $('.item'))
//		var showMe = $.grep(all, function(el)
//                    {
//                       return $.inArray(el, hidden) == -1;
//                    });
//		$('#container').prepend( showMe ).masonry( 'reload' );
	} else {
		all.removeClass("hideBlock");
		all.addClass('showBlock');
//		$('#container').masonry( 'remove', $('.item'))
//		$('#container').prepend( all ).masonry( 'reload' );
	}
	$('#container').masonry( 'reload' );
});

</script>


</body>
</html>